@font-face {
    font-family: 'outfitRegular';
    src: url(../assets/fonts/Outfit-Regular.ttf);
}
img{
    width: 100%;
}
.profile_container{
    width: 100%;
    height: 8 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dp{
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    
}
.dp img{
    filter: grayscale(0);
    transition: all 500ms ease;
    cursor: pointer;
}
.dp img:hover{
    filter: grayscale(1);
    transition: all 500ms ease;
}
.profile{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.profile h4{
    padding-top: 18px;
    color: #ccc;
    /* color: #111; */
    font-family: 'outfitRegular';
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.5px;
}
.profile h1{
    text-align: center;
    color: transparent;
    padding-top: 20px;
    font-family: 'outfitRegular';
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    font-size: 2.5rem;

}
.cv_btn{
    padding: 15px 20px;
    background: #1A1A1A;
    margin-top: 20px;
    border: 2px solid;
    transition: all 500ms ease;
    cursor: pointer;
    border-radius: 5px;
}
.cv_btn:hover{
    transform: scale(.9);
    transition: all 500ms ease;
}
.cv_btn a {
    color: #ccc;
}
