@font-face {
    font-family: 'playFairRegular';
    src: url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

.project_wrapper h1{
    text-align: center;
    text-wrap: balance;
    color: transparent;
    padding-top: 20px;
    font-family: 'outfitRegular';
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    font-size: 2.5rem;
}
.s-title{
    margin-bottom: 30px;
}

.p-items{
    display: flex;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.p-item{
    width: 350px;
    background: #1A1A1A;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.item img{
    width: 100%;
    object-fit: cover;
}
.p-details{
    color: #6C6C6C;
    padding-bottom: 20px;
}
.p-details > :nth-child(1){
    font-size: 35px;
}
.p-details > :nth-child(2){
    font-size: 35px;
    font-family: 'outfitLight';
    font-weight: 400;
}
.s-details p{
    
    color: transparent;
    font-family: 'outfitRegular';
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 20px;
}
@media (max-width: 689px){
    .item{
        width: 100%;
    }
}
