@font-face {
    font-family: 'playFairRegular';
    src: url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

:root{
    --green: #50eb9f;
    --blacK: #0c0c0c;
}
.project_wrapper h1{
    text-align: center;
    text-wrap: balance;
    color: var(--green);
    padding-top: 20px;
    font-family: 'outfitRegular';
    /* -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ccc, #333, #ccc); */
    font-size: 2.5rem;
}
.s-title{
    margin-bottom: 30px;
}

.p-items{
    display: flex;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.p-details h3{
    color: #fff;
    font-size: 5px;
}
.p-title{
    font-size: 20px !important;
}
.p-item{
    width: 350px;
    background: #1A1A1A;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.view_btn{
    padding: 10px 25px;
    display: inline-block;
    margin-top: 10px;
    color: var(--blacK);
    background: var(--green);
    border-radius: 3px;
}
.image_container{
    border-radius: 5px;
    overflow: hidden;
    transition: 500ms ease;
}
.image_container:hover img{
    transform: scale(1.1);
    transition: 500ms ease;
    width: 100%;
}
.item img{
    width: 100%;
    object-fit: cover;
    transition: 500ms ease;
}
.p-details{
    color: #6C6C6C;
    padding-bottom: 20px;
}
.p-details > :nth-child(1){
    font-size: 35px;
}
.p-details > :nth-child(2){
    font-size: 35px;
    font-family: 'outfitLight';
    font-weight: 400;
}
.s-details p{
    
    color: transparent;
    font-family: 'outfitRegular';
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 20px;
}
@media (max-width: 689px){
    .item{
        width: 100%;
    }
}
