.skill_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
    /* background: #1A1A1A; */
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.skill_container img{
    width: 110px;
    max-width: 100%;
    filter: grayscale(0);
    transition: all 500ms ease;
    cursor: pointer;
}
.skill_container img:hover{
    filter: grayscale(1);
    transition: all 500ms ease;
}
.swiper-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
}
